{% extends "auth/profile.html" %}

{% block title %}{% trans %}Board list{% endtrans %}{% endblock %}

{% block header %}
{% endblock %}

{% block main_content %}

<div id="modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% trans %}New Board{% endtrans %}</h3>
    </div>
    <div class="modal-body">
        <form method="POST" id="board-form" class="form-horizontal" data-url="{{ url_for('board.new_board') }}">
        <div class="control-group">
            <label class="control-label" for="boardname">{% trans %}Board name{% endtrans %}</label>
            <div class="controls">
                <input type="text" id="boardname" name="name" placeholder="{% trans %}board name{% endtrans %}"/>
                <button class="btn btn-info">{% trans %}Add{% endtrans %}</button>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
    </div>
</div>

<div class="board-title">
<h3>{% trans %}My Boards{% endtrans %}</h3>
<a href="#" data-toggle="modal" data-target="#modal">{% trans %}New board...{% endtrans %}</a>
</div>

<ul id="board-list" class="unstyled bold-list">
</ul>

<div class="board-title">
<h3>{% trans %}Shared with me{% endtrans %}</h3>
</div>

<ul id="shared-list" class="unstyled bold-list">
</ul>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/template" id="board-template">
        <a href="/board/<%= id %>"><%- name %></a>
        <a href="#" class="close">&times;</a>
    </script>

    <script type="text/javascript" src="{{ url_for('.static', filename='js/board-list.js') }}"></script>

    <script type="text/javascript">
        BoardList.initialize();
    </script>

{% endblock %}
