{% extends "base.html" %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block header %}
<div class="row">
<div class="span4 offset4">
    <h2>
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="ftask"/>
    {% trans %}Register{% endtrans %}
    </h2>
</div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span4 offset4">
        <div class="well">
            <form method="POST" class="form" id="register-form" data-url="{{ url_for('auth.register') }}" data-next="{{ url_for('authi.login') }}">
                <div class="control-group">
                    <label class="control-label" for="username">{% trans %}Username{% endtrans %}</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" placeholder="{% trans %}username{% endtrans %}" autofocus/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">{% trans %}Password{% endtrans %}</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="{% trans %}password{% endtrans %}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">{% trans %}Email{% endtrans %}</label>
                    <div class="controls">
                        <input type="email" id="email" name="email" placeholder="email@example.com"/>
                    </div>
                </div>
                <input type="submit" class="btn btn-success btn-large" value="{% trans %}Create New Account{% endtrans %}"/>
            </form>
            <div>
                {% trans %}Already have an account?{% endtrans %} <a href="{{ url_for('authi.login') }}">{% trans %}Log In.{% endtrans %}</a>
            </div>
        </div><!-- well -->
    </div><!-- span -->
</div><!-- row -->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        Ftask.form("#register-form",
                   function(data) {
                        alert("{% trans %}Error while sending data to the server{% endtrans %}");
                   });
    </script>
{% endblock %}
